---
import siteData from '../data/site.json'
import Footer from '../components/Footer.astro'
import Head from '../components/Head.astro'
import JS from '../components/JS.astro'
import '../styles/global.css'
---
<html lang={siteData.language}>
  <Head />
  <body class="font-sans text-gray-800 bg-gray-100">
    <slot />
    <Footer />
    <JS />
  </body>
</html>
